{
  "presets": ["react-native"],
  "plugins": [
    "transform-decorators-legacy",
    [
      "babel-plugin-module-alias",
      [
        {"src": "./src", "expose": "@src"},
        {"src": "./src/images", "expose": "@images"},
        {"src": "./src/module", "expose": "@module"},
        {"src": "./src/utils", "expose": "@utils"}
      ]
    ]
  ]
}